@inherits CurrentUserBadgeComponent

<div class="d-flex current-user-badge-link">

    @if (IsUserLogged())
    {
        <div>
            <span class="oi oi-person mr-2"></span>
            <span class="mr-2">@CurrentUser</span>
        </div>
        <span onclick="@(() => SignOut())" aria-hidden="true">Logout</span>
    }
    else
    {
        <div onclick="@(async () => await SignIn())">
            <span class="oi oi-person mr-2"></span>
            <span>Login</span>
        </div>
    }
</div>