@inherits SearcherComponent

<div class="input-group">
    <div class="input-group-prepend">
        <div class="input-group-text appisimo-prepend" id="searcher-surname">Cognome</div>
    </div>
    <input type="text" class="form-control" aria-label="Cognome" aria-describedby="searcher-surname"
           onchange="@(e => OnFilterChanged(e))" />
</div>