@page "/new-password/{username}"

@inherits NewPasswordComponent

<form class="mt-4">

    <div class="card">
        <div class="card-body pt-0">

            <div class="input-group my-4">
                <div class="input-group-prepend">
                    <div class="input-group-text appisimo-prepend">Password</div>
                </div>
                <input type="text" 
                       class="form-control" 
                       id="new-password-new-password" 
                       placeholder="Password" 
                       bind="@OldPassword"/>
            </div>
            
            <div class="input-group my-4">
                <div class="input-group-prepend">
                    <div class="input-group-text appisimo-prepend">Nuova password</div>
                </div>
                <input type="text" 
                       class="form-control" 
                       id="new-password-new-password" 
                       placeholder="Nuova password" 
                       bind="@NewPassword"/>
            </div>

            <div class="input-group my-4">
                <div class="input-group-prepend">
                    <div class="input-group-text appisimo-prepend">Conferma password</div>
                </div>
                <input type="text" 
                       class="form-control" 
                       id="new-password-new-password-confirm" 
                       placeholder="Conferma nuova password"/>
            </div>

            <button type="button" class="btn btn-primary" onclick="@(async () => await Change())">Login</button>

        </div>
    </div>
</form>