@inherits BlazorLayoutComponent

<div class="sidebar">
    <navmenu/>
</div>

<div class="main">
    <div class="top-row px-4">
        <currentuserbadge/>
    </div>

    <div class="container-fluid">
        @Body
    </div>
</div>