@page "/"
@using AppiSimo.Shared.Model
@inherits AppiSimo.Client.Components.IndexComponent

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var user in Users)
    {
        <tr>
            <td>@user.Name</td>
            <td>@user.Surname</td>
            <td><a class="btn btn-outline-dark" href=@($"user/{@user.Id}")>Modifica</a></td>
        </tr>
    }                                                                             
    </tbody>
    
</table>